@import 'styles/media';

.main-about-advantages {
  margin-top: 47px;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -20px;
    margin-bottom: -20px;

    transform: translateY(30px);

    > * {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  @include media(mobile) {
    margin-top: 29px;

    &__cards {
      margin-top: 20px;
      margin-right: -12px;
      margin-bottom: -12px;

      transform: translateY(0);

      > * {
        margin-right: 12px;
        margin-bottom: 12px;
      }
    }
  }
}
