@import 'styles/vars';
@import 'styles/transition';
@import 'styles/media';

@mixin ShopVariant() {
  $card: &;

  &_variant_shop {
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 220px;

    color: $black;

    background-color: $white_3;
    border-radius: 5px;
    cursor: pointer;

    @include transition();

    &:hover {
      top: -2px;

      color: $white;

      background-color: $black;
      background-image: url('#{$card-img_path}/card_lights.png');
      box-shadow: -2px -3px 6px rgba(91, 246, 79, 0.5),
        2px 3px 7px rgba(91, 246, 79, 0.5);

      #{$card}__title,
      #{$card}__value {
        @include transition();
        color: $white;
      }
    }

    #{$card}__title {
      padding-top: 19px;
      padding-bottom: 19px;
    }

    #{$card}__icon {
      display: block;
      width: 75px;
      height: 75px;
    }

    #{$card}__value {
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }

  @include media(mobile) {
    &_variant_shop {
      width: 130px;
      height: 114px;

      background-size: cover;
    }

    #{$card}__title {
      padding-top: 10px;
      padding-bottom: 8px;
    }

    #{$card}__icon {
      width: 44px;
      height: 44px;
    }

    #{$card}__value {
      padding-top: 8px;
      padding-bottom: 10px;
    }
  }
}
