@import 'styles/media';

@mixin Privilege {
  &__privilege {
    margin-top: 26px;
  }

  &__privilege-title {
    margin-bottom: 14px;
  }

  @include media(mobile) {
    &__privilege-title {
      margin-bottom: 17px;
    }
  }
}
