@import 'styles/vars';
@import 'styles/transition';
@import 'styles/media';

.DropdownList {
  overflow: hidden;

  &__button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px 41px 18px 29px;

    text-align: left;

    background-color: $black;

    @include transition();

    &:hover {
      background-color: $gray;
    }
  }

  &__v {
    flex-shrink: 0;

    align-self: center;
    width: 18px;
    height: 10px;
    margin-left: 23px;

    @include transition();

    &_active {
      transform: rotate(180deg);
    }
  }

  &__list {
    background-color: $white_3;

    @include transition();
  }

  &__item {
    position: relative;

    display: flex;

    &:not(:last-child) {
      margin-bottom: 23px;
    }

    &::before {
      display: inline-block;

      flex-shrink: 0;
      width: 8px;
      height: 8px;

      margin-right: 10px;

      background-color: $black;
      transform: rotate(45deg);
      transform-origin: 0 100%;

      content: '';
    }
  }

  &__items {
    padding: 19px 83px 49px 34px;
  }

  @include media(mobile) {
    &__button {
      padding: 16px 30px 17px 8px;
    }

    &__items {
      padding: 13px 17px 27px 10px;
    }

    &__v {
      width: 12px;
      height: 8px;
    }
  }
}
