@import 'styles/vars';
@import 'styles/transition';

.Button {
  $this: &;

  @include transition();

  padding: 14px 52px;

  font-size: 16px;
  line-height: 19px;

  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  &_outlined {
    border: 2px solid $lime;
  }

  &_outlined#{$this}_lime {
    color: $white;

    background-color: transparent;
    border-color: $lime;

    &:hover {
      color: $lime;
    }
  }

  &_contained#{$this}_lime {
    color: $white;

    background-color: $lime;

    &:hover {
      color: $black;
    }
  }
}
