@import 'styles/vars';
@import 'styles/media';

/* stylelint-disable */
.main-about-top {
  display: flex;
  justify-content: space-between;

  &__left {
    padding-top: 45px;

    max-width: 411px;

    &-title {
      padding-bottom: 12px;
    }

    &-ip {
      padding-top: 15px;

      display: flex;

      > *:first-child {
        margin-right: 37px;
      }
    }
  }

  &__right {
    display: flex;

    padding-top: 90px;
    margin-right: -26px;

    &-item {
      margin-right: 26px;

      &:last-child {
        padding-right: 19px;
      }
    }

    &-text {
      padding: 9px 0 0;
      margin: 0;

      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      &-white {
        color: $white;
      }

      &-green {
        color: $lime_3;
      }
    }

    &-icon {
      width: 81px;
      height: 81px;


      &-white {
        path {
          fill: $white;
        }

        circle {
          fill: $gray;
          stroke: $white;
        }
      }

      &-green {
        path {
          fill: $lime_3;
        }

        circle {
          fill: $green;
          stroke: $lime_3;
        }
      }
    }
  }

  @include media(tablet) {
    flex-flow: column wrap;
    align-items: center;

    &__left {
      padding-top: 24px;

      &-ip {
        justify-content: center;
      }
    }

    &__right {
      padding-top: 25px;
      margin-right: 0;

      width: 100%;
      justify-content: space-around;

      &-item {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        margin-right: 0;
      }

      &-icon {
        width: 54px;
        height: 54px;
      }

      &-text {
        padding-top: 12px;

        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
/* stylelint-enable */