.nav-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  &__list-title {
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  &__top {
    > .button {
      margin-top: 28px;
      margin-left: 0;
    }

    > h2 {
      margin-bottom: 18px;
    }
  }

  &__bottom {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: auto;
    padding-top: 100px;
    padding-bottom: 20px;

    > *:first-child {
      margin-bottom: 26px;
    }
  }
}
