@import 'styles/media';
@import 'styles/transition';
@import './Tab/Tab.scss';

.Tabs {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: -20px;

    > * {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    @include media(mobile) {
      margin-right: -12px;
      margin-bottom: -12px;

      > * {
        margin-right: 12px;
        margin-bottom: 12px;
      }
    }
  }

  &__content-wrap {
    padding-top: 26px;
  }

  &__content {
    @include transition();
    height: 0;

    overflow: hidden;

    opacity: 0;

    &_active {
      height: auto;

      opacity: 1;
    }
  }

  @include Tab();
}
