@import 'styles/vars';
@import 'styles/transition';

@mixin Content {
  &__hidden {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $navbar-breakpoint) {
      display: none;
    }
  }

  &__burger {
    path {
      @include transition();
    }

    &:hover path {
      stroke: $lime;
    }
  }

  &__nav {
    display: flex;

    @media (max-width: $navbar-breakpoint) {
      display: none;
    }
  }
}
