@import 'styles/vars';
@import 'styles/mixins';

.heading {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: 500;
  font-style: normal;
  font-family: $font;

  &_h1 {
    @include fontsize(36px, 43px, 22px, 26px);
  }

  &_h2 {
    @include fontsize(28px, 33px, 16px, 19px);
  }

  &_h3 {
    @include fontsize(24px, 28px, 14px, 17px);

    font-weight: bold;
  }

  &_h4 {
    @include fontsize(16px, 19px, 14px, 17px);
  }
}
