@import 'styles/vars';
@import 'styles/mixins';
@import 'styles/media';

.main-shop-promo {
  @include media(mobile) {
    padding: 49px 36px 64px;
    background-image: url('#{$main-shop-img_path}/promo_bg_mobile.png');
    background-position: center center;
    text-align: center;
  }

  margin-top: 20px;
  padding-top: 61px;
  padding-bottom: 53px;
  padding-left: 88px;
  border-radius: 5px;
  background-image: url('#{$main-shop-img_path}/promo_bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__bottom {
    @include fontsize(32px, 38px, 22px, 26px);

    padding-top: 10px;
    font-weight: 500;
  }
}
