@import 'styles/media';
@import './Content/Content.scss';
@import './Icons/Icons.scss';
@import './Links/Links.scss';
@import './Menu/Menu.scss';

$navbar-breakpoint: 850px;

.Navbar {
  $navbar: &;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__button {
    margin-left: 54px;
  }

  &_footer {
    @include media(mobile) {
      flex-flow: column wrap;

      #{$navbar}__content {
        margin-top: 25px;
      }
    }
  }

  @include Content();
  @include Icons();
  @include Links();
  @include Menu();
}
