@import 'styles/media';
@import 'styles/vars';

@mixin Card {
  &__card {
    display: inline-block;

    padding: 27px;

    background: $latestBuysCardBg;
    border-radius: 5px;
  }

  &__card-icon {
    width: 56px;
    height: 56px;
  }

  @include media(mobile) {
    &__card {
      padding: 14px;
    }

    &__card-icon {
      width: 28px;
      height: 28px;
    }
  }
}
