@import 'styles/vars';
@import 'styles/media';

.main-about {
  background-color: $black;
  box-shadow: 0 4px 4px $aboutShadow;
  position: relative;

  @include media(laptop) {
    &__container {
      background-image: none;
    }
  }

  &__container {
    background-image: url('#{$main-img_path}/about__lines.svg');
    background-repeat: repeat;
  }
}
