@import 'styles/vars';
@import 'styles/media';

/* stylelint-disable */
.main-latest-buys {
  background-image: url('#{$main-img_path}/latest-buys__bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  &__title {
    padding-top: 36px;
    padding-bottom: 17px;
  }

  &__cards {
    position: relative;
    width: 100%;
    padding-bottom: 17px;

    &-inner {
      width: 3200px;

      margin-right: -10px;

      & > * {
        margin-right: 10px;
      }
    }
  }

  @include media(mobile) {
    padding-left: 24px;

    &__title {
      padding-top: 17px;
      padding-bottom: 8px;
    }

    &__cards {
      padding-bottom: 27px;

      &-inner {
        margin-right: -5px;
  
        & > * {
          margin-right: 5px;
        }
      }
    }
  }
}
/* stylelint-enable */