@mixin Cases {
  &__cases-wrap {
    margin-top: 27px;
  }

  &__cases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -20px;
    margin-bottom: -20px;

    > * {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}
