@import 'styles/vars';
@import 'styles/media';

.main-about-advantages-card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 218px;
  height: 194px;

  background-color: $gray;
  background-image: url('#{$main-img_path}/advantages__lines.png');
  border-radius: 5px;

  &__icon {
    margin-top: auto;
  }

  &__title {
    max-width: 129px;
    margin-top: 18px;
    margin-bottom: 22px;

    text-align: center;
  }

  @include media(mobile) {
    width: 130px;
    height: 116px;

    background-size: cover;

    &__icon {
      transform: scale(0.6);
    }

    &__title {
      max-width: 70px;
      margin-top: 11px;
      margin-bottom: 14px;

      font-size: 10px;
      line-height: 11px;
    }
  }
}
