@import 'styles/vars';
@import 'styles/transition';
@import 'styles/media';

.main-shop-cases-case {
  @include transition();

  @include media (mobile) {
    width: 130px;
    height: 114px;
    background-size: cover;

    &__top {
      padding-top: 10px;
      padding-bottom: 8px;
    }

    &__icon {
      width: 44px;
      height: 44px;
    }

    &__bottom {
      padding-top: 8px;
      padding-bottom: 10px;
    }
  }

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 218px;
  height: 194px;
  border-radius: 5px;
  background-color: $white_3;
  background-image: url('#{$main-shop-img_path}/case_lights.png');
  cursor: pointer;

  &:hover {
    background-color: $white;
  }

  &__icon {
    width: 94px;
    height: 94px;
  }

  &__top {
    padding-top: 22px;
    padding-bottom: 13px;
  }

  &__bottom {
    padding-top: 9px;
    padding-bottom: 15px;
  }
}
