@import 'styles/vars';
@import 'styles/mixins';
@import 'styles/media';

@mixin Sale {
  &__sale {
    margin-top: 20px;
    padding-top: 61px;
    padding-bottom: 53px;
    padding-left: 88px;

    background-image: url('#{$buy-img_path}/promo_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;

    @include media(mobile) {
      padding: 49px 36px 64px;

      text-align: center;

      background-image: url('#{$buy-img_path}/promo_bg_mobile.png');
      background-position: center center;
    }
  }

  &__price {
    @include fontsize(32px, 38px, 22px, 26px);

    padding-top: 10px;

    font-weight: 500;
  }
}
