@import 'styles/media';
@import 'styles/vars';

/* stylelint-disable */
.main-shop-latest-buys-card {
  display: inline-block;

  padding: 27px;

  background: $latestBuysCardBg;
  border-radius: 5px;

  &__icon {
    width: 56px;
    height: 56px;
  }

  @include media(mobile) {
    padding: 14px;

    &__icon {
      width: 28px;
      height: 28px;
    }
  }
}
/* stylelint-enable */