@import 'styles/vars';
@import 'styles/media';

.paragraph {
  @include media(mobile) {
    font-size: 14px;
    line-height: 17px;
  }

  margin: 0;
  padding: 0;
  color: $white;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  font-family: $font;
  line-height: 19px;

  &_big {
    font-size: 18px;
    line-height: 21px;
  }

  &_small {
    @include media(mobile) {
      font-size: 11px;
      line-height: 14px;
    }

    font-size: 14px;
    line-height: 17px;
  }

  &_weight {
    font-weight: 500;
  }

  &_primary {
    color: $lime;
  }
}
